/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
}
.username-full-width {
    width: 100%;
  }

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-card{
    margin-bottom: 1.5em;
}
  
.link{
    text-decoration: none;
}

.styleHR{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* .example-card {
    width: 100%;
  }
*/
.mat-card-image{
    margin-top:-15px !important;
    margin-left:-20px !important;
    width:60px !important;
    height:60px !important;
}